{% extends 'base.html' %}
{% block title %}Edit account{% endblock %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="card" style="width: 50vw;">
    <div class="card-header">Edit password</div>
    <div class="card-body">
        <form method="post" novalidate>
            {{ form.csrf_token }}
            <dl>
                {{ wtf.form_field(form.old_password, class='form-control') }}
                {{ wtf.form_field(form.new_password, class='form-control') }}
                {{ wtf.form_field(form.confirm_password) }}
                <input type=submit value='Submit' class='btn btn-primary'>
            </dl>
        </form>
        
    </div>
</div>
{% endblock %}