{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<h2>About Mealtime</h2>

<p>Mealtime is a web application developed for the 2019-20 delivery of COMP0034 Web Development course at University
    College London.
    <br><br>
    For any additional information, check out the <a href="https://www.github.com/justinattw/Group1_Mealtime">GitHub
        repository</a> for this project.
</p>

<br><br>

<h5>Mealtime REST API</h5>
<p>Our recipes are open to access through an API for all users! Simply make an API call to the <a
        href="{{ url_for('api.read_recipes') }}"> API recipes url</a> to query all recipes, or add "/id" at the end to
    query a specific recipe <a href="{{ url_for('api.read_recipes') + '/' + random_recipe }}">like so</a>.</p>
<br><br>

<h5>Licenses and References</h5>

<p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
<p>Our recipes are taken from <a href="https://bbcgoodfood.com" title="BBC Good Food">BBC Good Food</a>. Intended for
    use as proof of concept, no copyright is intended.</p>
{% endblock %}