{% extends "base.html" %}
{% block title %}Meal Planner{% endblock %}

{% block content %}
    <h3>Meal Planner</h3>
    <p>Use the Meal Planner to organise your meals for the week. You can also favourite recipes to make them easier to
        find in the future.</p>
    <ol id="meal_planner_list">
        <li>
            <p>
                <b>Create a new mealplan</b>
            </p>
            <button class="btn btn-primary btn-outline-light">Create</button>
        </li>
        <li>
            <p>
                <b>Search for recipes</b>
                <br>
                Use the search bar to find and add recipes to your meal plan
            </p>
            <form class="form-inline ml-auto simple_search" action="search" method="post">
                <input class="form-control" type="search" placeholder="Search recipes" aria-label="Search"
                       name="search_term">
                <button class="btn btn-primary btn-outline-light" type="submit">Search</button>
            </form>
            <a href="{{ url_for("main.advanced_search") }}" class="simple_search">Advanced Search</a>
        </li>
        <li>
            <p>
                <b>Recipes in mealplan</b>
                <br>
                Use the search bar to find and add recipes to your meal plan
            </p>
        </li>
    </ol>
{% endblock %}


