{% extends "base.html" %}
{% block title %}History{% endblock %}

{% block content %}
<h3>Meal Plans History</h3>
<p>View your old meal plans here</p>

{% if mealplans|length %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Meal plan ID</th>
        <th scope="col">Date & Time created</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for mealplan in mealplans %}
    <tr>
        <td>{{ mealplan.mealplan_id }}</td>
        <td>{{ mealplan.created_at }}</td>
        <td>
            <a href="{{ url_for('main.view_mealplan', mealplan_id=mealplan.mealplan_id) }}">View&nbsp</a>
            <a href="{{ url_for('main.delete_mealplan', mealplan_id=mealplan.mealplan_id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<p>Sorry, you do not currently have any mealplans</p>
{% endif %}

{% endblock %}