{% extends "base.html" %}
{% block title %}Favourites{% endblock %}

{% block content %}

<h3>{{ user.first_name }}'s meal plan {{ mealplan.mealplan_id }}</h3>

{% if results|length %}

<p><a href="{{ url_for('main.grocery_list', mealplan_id=mealplan.mealplan_id) }}">Generate grocery list</a></p>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {% for result in results %}
        <div class="col mb-4">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename=('img/recipe_images/' + result.photo)) }}"
                     alt={{ result.recipe_name }}>
                <div class="card-body">

                    <h6 class="card-title"><a href="{{ url_for('main.view_recipe', recipe_id=result.recipe_id) }}">{{
                        result.recipe_name }}</a></h6>
                    <p class="card-text">
                        <img src="{{ url_for('static', filename=('img/icons/clock.png')) }}" alt="time icon"
                             height="15" align="middle">
                        {{ result.total_time }} minutes
                    </p>
                    <p class="card-text">
                        <img src="{{ url_for('static', filename=('img/icons/group.png')) }}" alt="serves icon"
                             height="15" align="middle">
                        {{ result.serves }} {% if result.serves == 1 %}person{% else %}people{% endif %}
                    </p>

                    {# Buttons to add to mealplan/ favourites #}
                    {% if current_user.is_authenticated %}
                    {#
                    <form action="{{ url_for('main.add_to_mealplan', recipe_id = result.recipe_id) }}"
                          method="post">
                        <input type="image" src="{{ url_for('static', filename='img/icons/more.png') }}"
                               alt="Add to Mealplan" height="25" name="addToMealplan" class="btTxt submit"
                               id="saveForm"/>
                    </form>
                    <form action="{{ url_for('main.add_to_favourites', recipe_id = result.recipe_id) }}"
                          method="post">
                        <input type="image" src="{{ url_for('static', filename='img/icons/heart.png') }}"
                               alt="Add to Favourites" height="25" name="addToFavourites" class="btTxt submit"
                               id="saveForm"/>
                    </form>
                    #}

                    <button id="delfrom_mealplan{{result.recipe_id}}" type="button" class="btn btn-light"
                            onclick='ajax_delplan("{{ mealplan.mealplan_id }}", "{{result.recipe_id}}")'>
                        Remove from Meal Plan
                    </button>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
<p>There are no recipes in this meal plan! Check out the <a href="{{ url_for('main.mealplanner') }}">mealplanner</a> to
    start adding to your meal plan.</p>
{% endif %}
{% endblock %}

{% block footer %}
<script>

    function ajax_delplan(mealplan_id, recipe_id) {
        $.ajax({
            url: "/del_from_mealplan/" + mealplan_id + '/' + recipe_id, success: function (result) {
                if (result == 'success') {

                    location.reload()
                }
            }
        });
    }

</script>
{% endblock %}