{% extends "base.html" %}
{% block title %}{{ recipe.recipe_name }}{% endblock %}
{% block content %}

<!-- Display recipe photo -->
<img src="{{ url_for('static', filename=('img/recipe_images/' + recipe.photo)) }}" alt={{ recipe.recipe_name }}
     height="300"/>

<h1>{{ recipe.recipe_name }}</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Serves</th>
        <th scope="col">Prep time</th>
        <th scope="col">Cook time</th>
        <th scope="col">Total time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ recipe.serves }}</td>
        <td>{{ recipe.prep_time }}</td>
        <td>{{ recipe.cook_time }}</td>
        <td>{{ recipe.total_time }}</td>
    </tr>
    </tbody>
</table>
<h3>Nutrition</h3>
<p>(Per serving)</p>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Calories</th>
        <th scope="col">Fats</th>
        <th scope="col">Saturates</th>
        <th scope="col">Carbs</th>
        <th scope="col">Sugars</th>
        <th scope="col">Fibres</th>
        <th scope="col">Proteins</th>
        <th scope="col">Salts</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ nutrition.calories }} kcal</td>
        <td>{{ nutrition.fats }} g</td>
        <td>{{ nutrition.saturates }} g</td>
        <td>{{ nutrition.carbs }} g</td>
        <td>{{ nutrition.sugars }} g</td>
        <td>{{ nutrition.fibres }} g</td>
        <td>{{ nutrition.proteins }} g</td>
        <td>{{ nutrition.salts }} g</td>
    </tr>
    </tbody>
</table>
<h3>Allergies</h3>
{% if allergies|length %}
<p>Please note that this recipe may contain:</p>
<ul>
    {% for a in allergies %}
    <li>{{ a.allergy.allergy_name }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No common allergies</p>
{% endif %}
<h3>Ingredients</h3>
<ul>
    {% for i in ingredients %}
    <li>{{ i.ingredient }}</li>
    {% endfor %}
</ul>
<h3>Steps</h3>
<ol>
    {% for s in steps %}
    <li>{{ s.step_description }}</li>
    {% endfor %}
</ol>


{#-------------------------------------------------------------#}
<a href="{{ url_for('main.recipes') }}">Return to all recipes</a>

{#
<button onclick="goBack()">Go Back</button>#}
{##}
{#
<script>#
}
{
    #function
    goBack()
    {
        #
    }
    {
        #  window.history.back();
        #
    }
    {
        #
    }
    #
}
{
    #</script>#}


{% endblock %}
