@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

.simple_search {
    margin-top: 20px;
    margin-bottom: 20px
}

body {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
