{% extends "email/email_base.html" %}
{% block content %}
<p>
    As you have requested the grocery shopping list for mealplan {{ mealplan_id }}, you can view the shopping list
    below:

    {% if grocery_list|length %}
    {% for item in grocery_list %}
<li>{{ item.ingredient }}</li>
{% endfor %}
{% else %}
<li>Oh no, there were no recipes in your meal plan. Visit <a href="{{ url_for('main.recipes', _external=True) }}">our cookbook to start
    discovering new recipes today!</a></li>
{% endif %}

<p>To view your meal plan, click <a
        href="{{ url_for('main.view_mealplan', mealplan_id=mealplan_id, _external=True) }}">here</a>.</p>

<p>If you think you have received this email by mistake, please log into your account and change your password, and/ or
    contact us at comp0034mealtime@gmail.com as your account security may be compromised.</p><br>
{% endblock %}