<p>Dear {{ user.first_name }},</p>
<p>
    As you have requested the grocery shopping list for mealplan {{ mealplan_id }}, you can view the shopping list
    below:

    {% if grocery_list|length %}
    {% for item in grocery_list %}
<li>{{ item.ingredient }}</li>
{% endfor %}
{% else %}
<li>Oh no, there were no recipes in your meal plan. Visit <a href="{{ url_for('main.recipes') }}">our cookbook to start
    discovering new recipes today!</a></li>
{% endif %}


<p>If you think you have received this email by mistake, please contact us at comp0034mealtime@gmail.com</p><br>
<p>Thank you for supporting us,</p>
<p><b>Mealtime</b></p>

{#<img src="{{ url_for('static', filename=('img/icons/mealtime-logo-wide.png')) }}">#}

<br>
<p>Github: <a
        href="https://www.github.com/justinattw/group1_mealtime">https://www.github.com/justinattw/group1_mealtime</a>
</p>