<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
<nav class="navbar navbar-expand bg-primary navbar-dark">

    <a class="navbar-brand" href="{{ url_for('main.index') }}">MealTime</a>

    <ul class="navbar-nav">
{#      We don't need a home button, the logo (navbar-brand) can do this#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>#}
{#        </li>#}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.recipes') }}">Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Meal Plans</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Auto Chef</a>
        </li>
        {# toolbar, If user not logged in then log in, else log out       #}
        {% if current_user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("auth.signup") }}">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("auth.login") }}">Log in</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("auth.logout") }}">Log out</a></li>
        {% endif %}
    </ul>
</nav>
<br>
<div role=main class="container">
    {# Displays flashed messages on a page #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert-warning list-unstyled">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
        {# Child pages add page specific content here #}
    {% endblock %}
</div>
</body>
</html>