<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    {% block head %}{{ head }}{% endblock %}
</head>

{% import "bootstrap/wtf.html" as wtf %}

<body id={{ body_id }}>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <picture>
            <source srcset="{{ url_for('static', filename='img/logos/mealtime-logo-wide.png') }}"
                    media="(min-width: 600px)">
            <img src="{{ url_for('static', filename='img/logos/mealtime-logo-mini.png') }}" alt="mealtime-logo"
                 height="35"/>
        </picture>
    </a>

    <!-- Navbar toggler-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-nav navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li>
                <a class="nav-link" href="{{ url_for('main.view_all_recipes') }}">Recipes</a>
            </li>

            {% if current_user.is_anonymous %}
                <li>
                    <a class="nav-link" href="{{ url_for("main.about") }}">About</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for("auth.signup") }}">Sign up</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for("auth.login") }}">Log in</a>
                </li>
            {% else %}
                <li>
                    <a class="nav-link" href="{{ url_for('main.mealplanner') }}">Meal Plans</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.favourites') }}">Favourites</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('auth.account') }}">Account</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for("auth.logout") }}">Log out</a>
                </li>
                </ul>
            {% endif %}
        </ul>
    </div>
</nav>
<br>

<div role=main class="container">

    {# The following code to set different flash stypes is adapted from Pythonise #}

    {# Title: Flash message flashing #}
    {# Author: Julian Nash #}
    {# Date: 2019 #}
    {# Availability: https://pythonise.com/series/learning-flask/flask-message-flashing #}
    {# Accessed: 23 January 2020 #}

    {# Displays flashed messages on a page #}
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
            {% for message in messages %}
                <ul class="alert alert-success list-unstyled" id="flashmsg">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <li>
                        {{ message }}
{#                        {% for para in message %}#}
{#                            {{ para }}<br>#}
{#                        {% endfor %}#}
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["warning"]) %}
        {% if messages %}
            {% for message in messages %}
                <ul class="alert alert-warning list-unstyled" id="flashmsg">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <li>{{ message }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["danger"]) %}
        {% if messages %}
            {% for message in messages %}
                <ul class="alert alert-danger list-unstyled" id="flashmsg">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <li>{{ message }}</li>
                </ul>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
        {# Child pages add page specific content here #}
    {% endblock %}
</div>
</body>

<footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>


    <script>
        var heading = $("#flashmsg");
        setInterval(function () {
            if (heading.style.display == "block") {
                heading.style.display = "none";
            } else if (heading.style.display == "none") {
                heading.style.display = "block";
            }
        }, 1000);
    </script>


    {# The following script causes flash messages to auto close after 4 seconds. It is adapted from OmniTunes#}

    {# Author: OmniTunes #}
    {# Date: 2017 #}
    {# Availability: https://www.youtube.com/watch?v=rjIuZbG9190&list=PLQVvvaa0QuDc_owjTbIY4rbgXOFkUYOUB&index=10 #}
    {# Accessed: 27 March 2020 #}

    {#    <script>  window.setTimeout(function () {#}
    {#        $("#flashmsg").fadeTo(500, 0).slideUp(500, function () {#}
    {#            $(this).remove();#}
    {#        });#}
    {#    }, 4000);  </script>#}


    {% block footer %}{{ footer }}{% endblock %}
</footer>

</html>