{% extends "base.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}
{% if recipes|length %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Recipes</th>
        <th scope="col">Cook time</th>
        <th scope="col">Prep time</th>
    </tr>
    </thead>
    <tbody>
    {% for recipe in recipes %}
    <tr>
        <td>{{ recipes.recipe_name }}</td>
        <td>{{ recipes.cook_time }}</td>
        <td>{{ recipes.prep_time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>Sorry, no recipes are available at this time</p>
{% endif %}
{% endblock %}