{% extends "base.html" %}
{% block title %}{{ recipe.recipe_name }}{% endblock %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Recipes</th>
        <th scope="col">Cook time</th>
        <th scope="col">Prep time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ recipe.recipe_name }}</td>
        <td>{{ recipe.cook_time }}</td>
        <td>{{ recipe.prep_time }}</td>
    </tr>
    </tbody>
</table>
{% endblock %}